/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
    width: 8px;height: 8px; border: 3px solid #fff; 
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {
    background: #efefef;
    -webkit-border-radius: 10px;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
    height: 50px; width: 50px;
    background: rgba(0,0,0,.2);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)
}

/* Internet Explorer용 코드 */
html {
    scrollbar-3dLight-Color: #efefef; scrollbar-arrow-color: #dfdfdf; scrollbar-base-color: #efefef;
    scrollbar-Face-Color: #911313; scrollbar-Track-Color: #efefef; scrollbar-DarkShadow-Color: #efefef;
    scrollbar-Highlight-Color: #efefef; scrollbar-Shadow-Color: #efefef
}

/* https://circlash.tistory.com/610 */